@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: Inter;
    src: url("design/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  }
@font-face {
    font-family: LexendDeca;
    src: url("design/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
  }